[submodule "PX4-Autopilot"]
	path = PX4-Autopilot
	url = git@github.com:Drone-Scientists/PX4-Autopilot.git
[submodule "BouncyBall"]
	path = BouncyBall
	url = git@github.com:Drone-Scientists/BouncyBall.git
[submodule "flightctl"]
	path = flightctl
	url = git@github.com:Drone-Scientists/flightctl.git
