[submodule "PX4-Autopilot"]
	path = PX4-Autopilot
	url = git@github.com:Drone-Scientists/PX4-Autopilot.git
[submodule "BouncyBall"]
	path = BouncyBall
	url = git@github.com:Drone-Scientists/BouncyBall.git
[submodule "flightctl"]
	path = flightctl
	url = git@github.com:Drone-Scientists/flightctl.git
[submodule "Morse-code"]
	path = Morse-code
	url = git@github.com:Drone-Scientists/Morse-code.git
[submodule "Navigation"]
	path = Navigation
	url = git@github.com:Drone-Scientists/Navigation.git
